In [826]:
import pandas as pd

In [827]:
##load in datasets

#1. train.csv
train = pd.read_csv('./assets/train.csv')
train = pd.DataFrame(train)
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [828]:
#2. test.csv
test = pd.read_csv('./assets/test.csv')
test = pd.DataFrame(test)
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [829]:
#3. spray.csv
spray = pd.read_csv('./assets/spray.csv')
spray = pd.DataFrame(spray)
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [830]:
#4. weather.csv
weather = pd.read_csv('./assets/weather.csv')
weather = pd.DataFrame(weather)

In [831]:
#5. explore weather df
print(weather.shape)
print(weather.info())
weather.head()

(2944, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB
None

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [832]:
#6. create subset weather df for testing
wtest = weather.head(6)
wtest.set_index('Station', inplace = True)
wtest.iloc[:, 10:]
#wtest.info()

,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Station,,,,,,,,,,,
1,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
2,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
1,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
2,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
1,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
2,-,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2

In [833]:
#7. average Station1 and Station2 weather values if both exist, otherwise take one or the other if missing ('M')
newcols = []

for col in wtest.drop(['Date', 'CodeSum', 'PrecipTotal'], axis = 1):
    newvals = []
    
    for date in wtest['Date'].unique():
        val1 = wtest[wtest['Date'] == date].loc[1, col]
        val2 = wtest[wtest['Date'] == date].loc[2, col]
        
        if val1 not in ['M', '-', ' '] and val2 not in ['M', '-', ' ']:
            aveval = np.average([pd.to_numeric(val1), pd.to_numeric(val2)])
            newvals.append(aveval)
            #print (col, date, aveval)
        elif val1 not in ['M', '-', ' '] and val2 in ['M', '-', ' ']:
            newvals.append(val1)
            #print (col, date, val1)
        elif val1 in ['M', '-', ' '] and val2 not in ['M', '-', ' ']:
            newvals.append(val2)
            #print (col, date, val2)
        else:
            newvals.append('Null')
            #print ('Problem')
    
    newcols.append(newvals)
    #print (newvals)
print (len(newcols))

18

In [834]:
#8. create weather_new df with index as Station
weather_new = weather.set_index('Station')
weather_new.head(5)
weather.head(8)['PrecipTotal'][6]

'  T'

In [835]:
#9. apply average logic from step 7 to weather_new df
    #for both cols with M values, imputing 0.0
        #first run-through fillna returned:
            #Water1: 1472 NaNs
            #SnowFall: 12 NaNs
            #PrecipTotal: 64 NaNs
            #Stnpressure: 1 NaN
newcols = {}

for col in weather_new.drop(['Date', 'CodeSum'], axis = 1):
    newvals = []
    
    for date in weather_new['Date'].unique():
        val1 = weather_new[weather_new['Date'] == date].loc[1, col]
        val2 = weather_new[weather_new['Date'] == date].loc[2, col]
        
        if val1 not in ['M', '-', ' ', '  T'] and val2 not in ['M', '-', ' ', '  T']:
            aveval = np.average([pd.to_numeric(val1), pd.to_numeric(val2)])
            newvals.append(aveval)
            #print (col, date, aveval)
        elif val1 not in ['M', '-', ' ', '  T'] and val2 in ['M', '-', ' ', '  T']:
            newvals.append(val1)
            #print (col, date, val1)
        elif val1 in ['M', '-', ' ', '  T'] and val2 not in ['M', '-', ' ', '  T']:
            newvals.append(val2)
            #print (col, date, val2)
        else:
            newvals.append(0.0)
            #print ('Problem')
            
    newcols[col] = newvals
    #print (newvals)
print (newcols.keys())

dict_keys(['Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed'])

In [840]:
#10. create codesum df for handling CodeSum text abbreviations (denotes weather phenomena like thunderstorm, snow, smoke, etc)
codesum1 = weather[weather['Station'] == 1]['CodeSum'].to_frame()
codesum1 = codesum1.set_index(weather[weather['Station'] == 1]['Date'])
codesum1.index.rename('Date')

codesum2 = weather[weather['Station'] == 2]['CodeSum'].to_frame()
codesum2 = codesum2.set_index(weather[weather['Station'] == 2]['Date'])
codesum2.index.rename('Date')

codesum = codesum1.join(codesum2, lsuffix = '1', rsuffix = '2')
print(codesum.shape)

(1472, 2)

In [841]:
#11. check if CodeSum from each Station matches
    #a. if match: use CodeSum
    #b. if no_match: use CodeSum with more information (non-empty Codesum, aggregate Codesum)

exact_matches = 0
both_null = 0
partial_matches = 0
stat1_null = 0
stat2_null = 0

aggregate = []

for date in codesum.index:
    #print(date)
    
    if codesum['CodeSum1'][date] == ' ' and codesum['CodeSum2'][date] == ' ':
        both_null += 1
        aggregate.append(' ')
    elif codesum['CodeSum1'][date] == codesum['CodeSum2'][date]:
        exact_matches += 1
        aggregate.append(codesum['CodeSum1'][date])
        #print(matches)
    else:
        
        if len(codesum['CodeSum1'][date]) == 1 and len(codesum['CodeSum2'][date]) > 1:
            stat1_null +=1
            aggregate.append(codesum['CodeSum2'][date])
            #print(date, codesum['CodeSum1'][date], ',', codesum['CodeSum2'][date])
        elif len(codesum['CodeSum1'][date]) > 1 and len(codesum['CodeSum2'][date]) == 1:
            stat2_null += 1
            aggregate.append(codesum['CodeSum1'][date])
            #print(date, codesum['CodeSum1'][date], ',', codesum['CodeSum2'][date])
        else:
            partial_matches += 1
            agg = codesum['CodeSum1'][date].split() + codesum['CodeSum2'][date].split()
            agg = pd.Series(list(set(agg)))
            agg = agg.str.cat(sep = ' ')
            aggregate.append(agg)
            #print(date, codesum['CodeSum1'][date], ',', codesum['CodeSum2'][date])            
            #print(agg)
            #print ('\n')    
        #print (no_matches)

print('\n',
      'exact_matches:', exact_matches, '\n',
      'both_null:', both_null, '\n',
      'partial_matches:', partial_matches, '\n',
      'stat1_null:', stat1_null, '\n',
      'stat2_null:', stat2_null, '\n',
      '\n',
      'total: ', exact_matches + both_null + stat1_null + stat2_null + partial_matches)

aggregate = pd.Series(aggregate)

 exact_matches: 232
 both_null: 717
 partial_matches: 348
 stat1_null: 88
 stat2_null: 87

 total:  1472

In [842]:
#11b. checker
agg = codesum['CodeSum1']['2007-05-31'].split() + codesum['CodeSum2']['2007-05-31'].split()
print(codesum['CodeSum1']['2007-05-31'], ',', codesum['CodeSum2']['2007-05-31'])

agg = pd.Series(list(set(agg)))
agg = agg.str.cat(sep = ' ')
agg

RA HZ , RA BR

'RA HZ BR'

In [856]:
#12. update weather_new df
    #a.Repeat step #8 first: create weather_new df with index as Station
    #b. set unique dates
    #c. set calculated values

weather_new = weather.set_index('Station')
#weather_new.head()

In [857]:
#12b. set unique dates
weather_new = weather_new.loc[[1], :]
weather_new = weather_new.reset_index().drop(['Station'], axis = 1)
#weather_new.head()

In [858]:
#12c. set calculated values
for col in weather_new.drop(['Date', 'CodeSum'], axis = 1).columns:
    weather_new[col] = [newcols[col][i] for i in weather_new[col].index]

weather_new['CodeSum'] = [aggregate[i] for i in weather_new['CodeSum'].index]
#weather_new['CodeSum'][0:10]

In [859]:
#13. checking against original weather df
weather_new.head(10)
#weather.head(20)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83.5,51.0,67.5,14,51.0,56.5,0,2.5,0448,...,,0,0.0,0.0,0,29.14,29.82,2.20,26.0,9.4
1,2007-05-02,59.5,42.5,51.5,-3,42.0,47,13.5,0,0447,...,HZ BR,0,0.0,0.0,0,29.41,30.085,13.15,3.0,13.4
2,2007-05-03,66.5,47.0,57,2,40.0,49,8,0,0446,...,HZ,0,0.0,0.0,0,29.425,30.12,12.30,6.5,12.55
3,2007-05-04,72.0,50.0,58,4,41.5,50,7,0,0444,...,RA,0,0.0,0.0,0.00,29.335,30.045,10.25,7.5,10.6
4,2007-05-05,66.0,53.5,60,5,38.5,49.5,5,0,0443,...,,0,0.0,0.0,0,29.43,30.095,11.45,7.0,11.75
5,2007-05-06,68.0,50.5,59.5,4,30.0,46,5.5,0,0442,...,,0,0.0,0.0,0,29.595,30.285,14.10,10.5,14.75
6,2007-05-07,83.5,48.5,66,10,40.0,53.5,0,1,0441,...,RA,0,0.0,0.0,0.00,29.41,30.12,8.55,17.5,10.2
7,2007-05-08,81.0,57.0,69,12,57.5,62.5,0,4,0439,...,HZ BR,0,0.0,0.0,0.00,29.325,30.025,2.60,9.5,5.6
8,2007-05-09,76.5,62.0,69.5,13,59.5,63,0,4.5,0438,...,BR HZ,0,0.0,0.0,0.075,29.245,29.935,3.90,8.0,6.05
9,2007-05-10,83.5,57.5,70.5,14,52.0,60.5,0,5.5,0437,...,HZ BR,0,0.0,0.0,0,29.23,29.915,1.35,13.0,4

In [860]:
#14. Split weather_new df into train / test
    #train_set = years 2007, 09, 11, 13
    #test_set = years 2008, 10, 12, 14
    #spray = years 2011, 13
    #weather = years 2007-2014

#year in weather_new df
weather_new['Year'] = [int(weather_new['Date'][i][0:4]) for i in weather_new['Date'].index]

train_yrs = [2007, 2009, 2011, 2013]
test_yrs = [2008, 2010, 2012, 2014]

train_weather = weather_new.loc[weather_new['Year'].isin(train_yrs)]
test_weather = weather_new.loc[weather_new['Year'].isin(test_yrs)]

#print('train:', train_weather.shape, 'test:', test_weather.shape)
#print(weather_new[weather_new['Year'] == 2007].shape)
#train_weather.head(10)

In [861]:
train_weather.head(5)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,...,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year
0,2007-05-01,83.5,51.0,67.5,14,51.0,56.5,0,2.5,0448,...,0,0.0,0.0,0,29.14,29.82,2.20,26.0,9.4,2007
1,2007-05-02,59.5,42.5,51.5,-3,42.0,47,13.5,0,0447,...,0,0.0,0.0,0,29.41,30.085,13.15,3.0,13.4,2007
2,2007-05-03,66.5,47.0,57,2,40.0,49,8,0,0446,...,0,0.0,0.0,0,29.425,30.12,12.30,6.5,12.55,2007
3,2007-05-04,72.0,50.0,58,4,41.5,50,7,0,0444,...,0,0.0,0.0,0.00,29.335,30.045,10.25,7.5,10.6,2007
4,2007-05-05,66.0,53.5,60,5,38.5,49.5,5,0,0443,...,0,0.0,0.0,0,29.43,30.095,11.45,7.0,11.75,2007

In [862]:
#15. Handling merging training dfs on with different dates
    #list(pd.unique(train['Date']))

#option 1: between last spray date and the date of spray, what is the average weather data?
    #for date == 2007-05-29, last 7 days worth of weather values --> prev_days = 7
    #for date == 2007-06-05, days between 2007-05-29 and 2007-06-05 worth of weather values --> prev_days = 7
    #for date == 2007-06-26, days between 2007-06-5 and 2007-06-26 worth of weather values --> prev_days = 21  
#caveat: interval of days is not be consistent

#option 2: straight 7 days prior worth of weather data
    #for any date, last 7 days worth of weather values --> prev days = 7

#option 3: month of date
    #for any date, average of entire month's worth of weather values

#option 4: day of date
    #for any date, weather values on matched date

In [850]:
#15. Option 4: combining datasets
combined = train.merge(train_weather, on = 'Date').merge(spray, on = 'Date')
#combined.head()

In [863]:
#15. Option 2: for train_weather values between train['Date'] and train['Date'] - 7, average_values for train_weather[col]

#15-1. create new column in train_weather that is train['Date']
train_weather['Dateloc'] = pd.to_datetime(train['Date'])

    #convert date columns in train_weather to datetime type
train_weather['Date'] = pd.to_datetime(train_weather['Date'])

#15-2. create new column in train_weather that is train['Date'] - 7
from datetime import timedelta
train_weather['Prev7date'] = train_weather['Dateloc'] - timedelta(days = 7)

#15-3. create lookup table df
lookup = train_weather.iloc[:, :].drop(['Year', 'Dateloc', 'Prev7date'], axis = 1)
#lookup.set_index(['Date'], inplace = True)
lookup.head()

/Users/chelen/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/chelen/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/chelen/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83.5,51.0,67.5,14,51.0,56.5,0,2.5,0448,...,,0,0.0,0.0,0,29.14,29.82,2.20,26.0,9.4
1,2007-05-02,59.5,42.5,51.5,-3,42.0,47,13.5,0,0447,...,HZ BR,0,0.0,0.0,0,29.41,30.085,13.15,3.0,13.4
2,2007-05-03,66.5,47.0,57,2,40.0,49,8,0,0446,...,HZ,0,0.0,0.0,0,29.425,30.12,12.30,6.5,12.55
3,2007-05-04,72.0,50.0,58,4,41.5,50,7,0,0444,...,RA,0,0.0,0.0,0.00,29.335,30.045,10.25,7.5,10.6
4,2007-05-05,66.0,53.5,60,5,38.5,49.5,5,0,0443,...,,0,0.0,0.0,0,29.43,30.095,11.45,7.0,11.75

In [864]:
lookup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 736 entries, 0 to 1287
Data columns (total 21 columns):
Date           736 non-null datetime64[ns]
Tmax           736 non-null float64
Tmin           736 non-null float64
Tavg           736 non-null object
Depart         736 non-null object
DewPoint       736 non-null float64
WetBulb        736 non-null object
Heat           736 non-null object
Cool           736 non-null object
Sunrise        736 non-null object
Sunset         736 non-null object
CodeSum        736 non-null object
Depth          736 non-null object
Water1         736 non-null float64
SnowFall       736 non-null object
PrecipTotal    736 non-null object
StnPressure    736 non-null object
SeaLevel       736 non-null object
ResultSpeed    736 non-null float64
ResultDir      736 non-null float64
AvgSpeed       736 non-null object
dtypes: datetime64[ns](1), float64(6), object(14)
memory usage: 126.5+ KB

In [866]:
#15-4. update train_weather df: drop unnecessary rows
    #keep unique dates from train set (95 unique values)
train_weather = train_weather.loc[:94, :]
train_weather['Dateloc'] = list(train['Date'].unique())
train_weather['Prev7date'] = pd.to_datetime(train_weather['Dateloc']) - timedelta(days = 7)
train_weather = train_weather.drop(['Date'], axis = 1)
train_weather

/Users/chelen/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/chelen/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Dateloc,Prev7date
0,83.5,51.0,67.5,14,51.0,56.5,0,2.5,0448,1849,...,0.0,0,29.14,29.82,2.20,26.0,9.4,2007,2007-05-29,2007-05-22
1,59.5,42.5,51.5,-3,42.0,47,13.5,0,0447,1850,...,0.0,0,29.41,30.085,13.15,3.0,13.4,2007,2007-06-05,2007-05-29
2,66.5,47.0,57,2,40.0,49,8,0,0446,1851,...,0.0,0,29.425,30.12,12.30,6.5,12.55,2007,2007-06-26,2007-06-19
3,72.0,50.0,58,4,41.5,50,7,0,0444,1852,...,0.0,0.00,29.335,30.045,10.25,7.5,10.6,2007,2007-06-29,2007-06-22
4,66.0,53.5,60,5,38.5,49.5,5,0,0443,1853,...,0.0,0,29.43,30.095,11.45,7.0,11.75,2007,2007-07-02,2007-06-25
5,68.0,50.5,59.5,4,30.0,46,5.5,0,0442,1855,...,0.0,0,29.595,30.285,14.10,10.5,14.75,2007,2007-07-11,2007-07-04
6,83.5,48.5,66,10,40.0,53.5,0,1,0441,1856,...,0.0,0.00,29.41,30.12,8.55,17.5,10.2,2007,2007-07-18,2007-07-11
7,81.0,57.0,69,12,57.5,62.5,0,4,0439,1857,...,0.0,0.00,29.325,30.025,2.60,9.5,5.6,2007,2007-07-19,2007-07-12
8,76.5,62.0,69.5,13,59.5,63,0,4.5,0438,1858,...,0.0,0.075,29.245,29.935,3.90,8.0,6.05,2007,2007-07-25,2007-07-18
9,83.5,57.5,70.5,14,52.0,60.5,0,5.5,0437,1859,...,0.0,0,29.23,29.915,1.35,13.0,4,2007,2007-07-27,2007-07-20
10,71.5,50.0,61,4,43.0,51,4,0,0436,1860,...,0.0,0,29.36,30.035,11.50,19.5,12.85,2007,2007-08-01,2007-07-25
11,64.5,46.5,55.5,-2,36.5,46,9.5,0,0435,1901,...,0.0,0,29.515,30.195,12.55,2.0,12.95,2007,2007-08-02,2007-07-26
12,69.0,43.5,56.5,-2,32.5,46,8.5,0,0434,1902,...,0.0,0,29.52,30.24,6.50,12.5,7.85,2007,2007-08-03,2007-07-27
13,90.0,55.0,72.5,15,46.0,58.5,0,7.5,0433,1903,...,0.0,0,29.27,29.975,15.50,21.0,15.95,2007,2007-08-07,2007-07-31
14,81.0,56.5,69,11,56.0,61,0,4,0432,1904,...,0.0,0.49,29.16,29.835,8.10,26.0,11.55,2007,2007-08-08,2007-08-01
15,65.0,44.5,55,-4,42.5,47.5,10,0,0431,1905,...,0.0,0.105,29.36,30.03,7.90,36.0,12,2007,2007-08-09,2007-08-02
16,61.5,43.5,53,-6,32.0,43,12,0,0430,1906,...,0.0,0,29.585,30.27,11.10,2.0,11.75,2007,2007-08-15,2007-08-08
17,70.5,42.5,57,-3,30.5,46.5,8,0,0429,1907,...,0.0,0,29.565,30.255,4.40,23.5,6.5,2007,2007-08-16,2007-08-09
18,80.0,56.0,68,8,38.0,53,0,3,0428,1908,...,0.0,0,29.375,30.08,11.10,23.5,11.4,2007,2007-08-17,2007-08-10
19,69.0,43.5,56.5,-5,40.5,44.5,8.5,0,0427,1909,...,0.0,0.09,29.41,30.11,9.50,3.5,10.2,2007,2007-08-21,2007-08-14
20,79.5,45.0,62.5,1,50.0,56.5,2.5,0,0426,1910,...,0.0,0,29.36,30.055,6.30,10.5,8,2007,2007-08-22,2007-08-15
21,87.0,57.5,72.5,10,45.0,58,0,7.5,0425,1911,...,0.0,0,29.375,30.055,10.05,17.0,10.4,2007,2007-08-24,2007-08-17
22,89.0,63.0,76.5,14,48.5,61,0,11.5,0425,1912,...,0.0,0,29.43,30.1,11.15,18.5,11.5,2007,2007-08-28,2007-08-21
23,88.0,64.5,76.5,14,53.5,63,0,11.5,0424,1913,...,0.0,0.02,29.44,30.105,14.35,20.5,16.25,2007,2007-09-04,2007-08-28
24,68.0,56.5,62.5,1,45.0,53,2.5,0,0423,1914,...,0.0,0.09,29.54,30.235,4.70,5.0,8.5,2007,2007-09-05,2007-08-29
25,67.5,49.5,58.5,-5,55.0,56.5,6.5,0,0422,1915,...,0.0,0.645,29.39,30.105,2.65,16.0,7.5,2007,2007-09-06,2007-08-30
26,75.0,58.0,66.5,4,48.0,56.5,0,1.5,0422,1916,...,0.0,0.06,29.375,30.055,8.55,25.0,9.35,2007,2007-09-12,2007-09-05
27,77.5,52.0,65,2,48.0,56.5,0,0,0421,1916,...,0.0,0.00,29.46,30.145,4.75,9.0,5.25,2007,2007-09-18,2007-09-11
28,88.0,62.5,75.5,10,58.5,65.5,0,10.5,0421,1917,...,0.0,0,29.415,30.1,5.80,17.0,6.95,2007,2007-09-19,2007-09-12
29,88.0,68.0,78.5,13,57.5,65.5,0,13.5,0420,1918,...,0.0,0,29.345,30.035,10.00,18.0,10.35,2007,2007-09-24,2007-09-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,88.5,70.5,79.5,8,60.0,67,0,14.5,0422,1930,...,0.0,0,29.265,29.93,5.35,32.0,7.5,2007,2011-07-25,2011-07-18
66,85.0,67.0,76,4,57.0,64.5,0,11,0423,1930,...,0.0,0,29.35,30.02,3.25,6.0,5.5,2007,2011-07-29,2011-07-22
67,89.0,66.0,77.5,5,62.5,68.5,0,12.5,0423,1930,...,0.0,0,29.21,29.905,7.90,22.5,8.35,2007,2011-08-05,2011-07-29
68,93.5,75.0,84.5,12,67.0,72,0,19.5,0424,1929,...,0.0,0,29.085,29.765,12.75,23.5,12.9,2007,2011-08-12,2011-08-05
69,93.5,71.0,82.5,9,66.5,70.5,0,17.5,0425,1929,...,0.0,0.27,29.135,29.795,4.85,23.5,8.8,2007,2011-08-19,2011-08-12
70,89.0,69.5,79.5,6,67.0,70.5,0,14.5,0425,1929,...,0.0,0.255,29.095,29.765,8.40,23.0,10.35,2007,2011-08-26,2011-08-19
71,77.0,62.5,70,-3,51.0,59,0,5,0426,1928,...,0.0,0,29.255,29.925,8.95,30.0,11.05,2007,2011-09-01,2011-08-25
72,80.0,60.5,70.5,-2,51.0,59.5,0,5.5,0427,1928,...,0.0,0,29.25,29.925,9.70,28.5,11.25,2007,2011-09-02,2011-08-26
73,76.0,58.5,67.5,-5,52.5,58.5,0,2.5,0428,1927,...,0.0,0,29.295,29.98,1.70,4.0,5.55,2007,2011-09-12,2011-09-05
74,84.5,61.5,73.5,0,55.0,62,0,8.5,0428,1927,...,0.0,0,29.11,29.79,8.35,25.5,13.55,2007,2011-09-16,2011-09-09
75,81.0,62.0,71.5,-3,52.5,61,0,6.5,0429,1926,...,0.0,0,29.22,29.885,1.65,19.0,5.7,2007,2011-09-23,2011-09-16
76,82.0,65.5,74,0,60.0,65,0,9,0430,1925,...,0.0,0.23,29.28,29.95,5.00,23.5,5.9,2007,2011-09-30,2011-09-23
77,83.0,68.5,76,2,65.5,69,0,11,0431,1925,...,0.0,0.11,29.21,29.895,5.75,23.0,6.95,2007,2013-06-07,2013-05-31
78,85.0,69.0,77,3,68.5,71,0,12,0432,1924,...,0.0,1.235,29.145,29.835,9.70,24.0,10.35,2007,2013-06-14,2013-06-07
79,82.5,63.0,73,-1,62.5,66,0,8,0433,1923,...,0.0,0.085,29.235,29.89,7.35,18.5,13.15,2007,2013-06-21,2013-06-14
80,74.5,60.0,67.5,-7,52.5,59,0,2.5,0433,1923,...,0.0,0,29.465,30.13,9.95,3.5,10.3,2007,2013-06-27,2013-06-20
81,74.5,58.0,66.5,-8,52.0,58.5,0,1.5,0434,1922,...,0.0,0,29.54,30.215,6.15,3.5,7.4,2007,2013-06-28,2013-06-21
82,81.0,59.5,70.5,-4,54.5,61,0,5.5,0435,1921,...,0.0,0,29.515,30.205,1.80,17.0,3.4,2007,2013-07-08,2013-07-01
83,82.5,61.5,72.5,-2,55.0,63,0,7.5,0436,1920,...,0.0,0,29.395,30.095,3.05,10.5,3.95,2007,2013-07-12,2013-07-05
84,82.0,65.0,74,0,57.5,64,0,9,0437,1919,...,0.0,0.00,29.35,30.035,2.10,20.5,5.05,2007,2013-07-19,2013-07-12
85,84.0,70.5,77.5,4,60.5,66.5,0,12.5,0438,1918,...,0.0,0.00,29.32,29.995,6.10,24.0,6.8,2007,2013-07-25,2013-07-18
86,83.5,65.0,74.5,1,65.0,68,0,9.5,0439,1918,...,0.0,0.54,29.22,29.915,7.20,22.0,9.65,2007,2013-08-01,2013-07-25
87,83.0,70.0,77,3,67.5,70,0,12,0440,1917,...,0.0,0.105,29.135,29.81,2.10,19.5,8,2007,2013-08-08,2013-08-01
88,80.0,68.0,74,-1,65.0,68,0,9,0441,1916,...,0.0,0,29.255,29.92,10.30,3.0,10.45,2007,2013-08-15,2013-08-08
89,85.0,65.0,75,0,56.5,64,0,10,0442,1915,...,0.0,0,29.31,29.98,5.55,5.0,6.3,2007,2013-08-22,2013-08-15
90,87.5,63.5,76,2,56.0,64.5,0,11,0443,1914,...,0.0,0,29.36,30.02,3.45,6.0,4.45,2007,2013-08-29,2013-08-22
91,90.0,68.5,79.5,6,60.5,68,0,14.5,0444,1913,...,0.0,0,29.36,30.03,3.65,5.5,4.95,2007,2013-09-06,2013-08-30
92,91.5,69.0,80.5,8,62.5,69.5,0,15.5,0445,1911,...,0.0,0,29.315,29.99,2.80,11.0,3.9,2007,2013-09-12,2013-09-05
93,91.0,71.5,81.5,8,66.0,71.5,0,16.5,0446,1910,...,0.0,0,29.285,29.96,6.00,24.5,6.55,2007,2013-09-19,2013-09-12
94,89.0,71.0,80.5,7,57.0,66.5,0,15.5,0447,1909,...,0.0,0,29.335,30.01,3.00,4.5,5.75,2007,2013-09-26,2013-09-19

In [984]:
#15-5a. numerical cols: calculate prev7day_average values by unique train['Date']

allcols = {}

for col in train_weather.drop(['CodeSum', 'Year', 'Dateloc', 'Prev7date'], axis = 1).columns:
    #print(col)
    colvals = []
    
    for date in train_weather['Dateloc']:
        vals = []
        t = 7
    
        while t > 0:
            lookup_date = pd.to_datetime(date) - timedelta(days = t)
            val = lookup[lookup['Date'] == lookup_date][col].values[0]
            vals.append(val)
            #print(t, lookup_date, val)
            t -= 1
        aveval = np.average(pd.to_numeric(vals)).round(1)
        #print(vals)
        #print('dateloc:', date, aveval, '\n')
        
        colvals.append(aveval)
    
    #print(colvals)
    allcols[col] = colvals

print(allcols.keys())

dict_keys(['Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed'])

In [985]:
#15-5b. text cols: aggregate all values by unique train['Date']
    #col CodeSum

for col in train_weather.loc[:, ['CodeSum']].columns:
    #print(col)
    colvals = {}
    
    for date in train_weather['Dateloc']:
        #print(date)
        vals = []
        t = 7
    
        while t > 0:
            lookup_date = pd.to_datetime(date) - timedelta(days = t)
            val = lookup[lookup['Date'] == lookup_date][col].values[0].split()
            vals.append(val)
            #print(t, lookup_date, val)
            t -= 1

        #flatten list of lists into one list + return unique CodeSum values
        vals = [item for sublist in vals for item in sublist]
        vals = list(set(vals))
        #print(date, vals)
        
        colvals[date] = vals
        #print('\n')
    
    #print(colvals.items())

In [1016]:
#15-5. checker
#print(allcols.items())
#allcols['Tmax'][0:10]
#print(colvals.items())

In [1018]:
#15-6. input prev7day_ave values into train_weather by col
    #a. numeric cols
    #b. text col
for col in train_weather.drop(['Year', 'Dateloc', 'Prev7date', 'CodeSum'], axis = 1).columns:
    train_weather[col] = [allcols[col][i] for i in train_weather[col].index]

codesums = [colvals[date] for date in train_weather['Dateloc']]
train_weather['CodeSum'] = [codesums[row] for row in range(len(train_weather['CodeSum']))]

#train_weather.head()
#train_weather.loc[:, ['Dateloc', 'CodeSum']].head()

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Year,Dateloc,Prev7date
0,78.9,57.3,68.3,5.7,49.0,57.8,1.3,4.6,423.1,1913.9,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,2007,2007-05-29,2007-05-22
1,81.5,64.0,73.1,8.1,60.0,64.8,0.1,8.1,419.3,1919.6,...,0.0,0.1,29.2,29.8,7.0,20.9,8.2,2007,2007-06-05,2007-05-29
2,78.6,63.3,71.2,0.6,56.3,62.7,0.0,6.2,416.6,1930.6,...,0.0,0.1,29.3,30.0,6.5,14.1,8.6,2007,2007-06-26,2007-06-19
3,80.2,65.0,72.8,2.0,61.6,65.6,0.0,7.8,417.6,1931.0,...,0.0,0.1,29.4,30.0,7.3,12.6,8.5,2007,2007-06-29,2007-06-22
4,80.9,62.5,71.9,0.1,59.3,64.2,0.2,7.1,418.6,1931.0,...,0.0,0.1,29.4,30.1,7.4,10.1,8.4,2007,2007-07-02,2007-06-25

In [1030]:
#16. clean train_weather: drop unnecessary cols, rename Dateloc to Date
train_weather = train_weather.drop(['Year', 'Prev7date'], axis = 1)
train_weather.rename(columns={'Dateloc': 'Date'}, inplace=True)
#train_weather.head()

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,...,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Date
0,78.9,57.3,68.3,5.7,49.0,57.8,1.3,4.6,423.1,1913.9,...,0.0,0.0,0.0,0.1,29.4,30.1,8.0,15.9,9.8,2007-05-29
1,81.5,64.0,73.1,8.1,60.0,64.8,0.1,8.1,419.3,1919.6,...,0.0,0.0,0.0,0.1,29.2,29.8,7.0,20.9,8.2,2007-06-05
2,78.6,63.3,71.2,0.6,56.3,62.7,0.0,6.2,416.6,1930.6,...,0.0,0.0,0.0,0.1,29.3,30.0,6.5,14.1,8.6,2007-06-26
3,80.2,65.0,72.8,2.0,61.6,65.6,0.0,7.8,417.6,1931.0,...,0.0,0.0,0.0,0.1,29.4,30.0,7.3,12.6,8.5,2007-06-29
4,80.9,62.5,71.9,0.1,59.3,64.2,0.2,7.1,418.6,1931.0,...,0.0,0.0,0.0,0.1,29.4,30.1,7.4,10.1,8.4,2007-07-02

In [1037]:
#17. merge train loc + weather dfs together
    #spray has different dates
train_locwea = train.merge(train_weather, on = 'Date')

In [1038]:
#18. save train_weather to_csv
train_weather.to_csv('train_weather')

In [1]:
#Repeat step #15-Option 2 for test_weather set
    #in next notebook: weather_dataset2